<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <script
      src="https://kit.fontawesome.com/2a62b8eba4.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <% if (locals.error) {%>
    <p style="text-align: center"><%= error %></p>
    <% } %>
    <!---->
    <%- include('partials/header.ejs') %>
    <div class="anime-list-gen">
      <% if (locals.title){%>
      <div class="anime-container">
        <% if (locals.trailer !== null) {%>
        <iframe
          class="embed-anime-video"
          src="<%= trailer %>"
          frameborder="0"
          autoplay
        ></iframe>
        <% }else if (locals.picture){ %>
        <img class="anime-image" src="<%=picture.large_image_url%>" alt="" />
        <% }}%>
      </div>
    </div>

    <% if (locals.userId === false) {%>

    <div class="username-container">
      <div class="type-username-container">
        <form class="username-form" action="/username" method="POST">
          <input
            class="type-username"
            placeholder="Enter Your Username"
            required
            minlength="5"
            maxlength="20"
            type="text"
            name="username"
          />
          <input
            class="type-username"
            placeholder="Enter Your password"
            required
            minlength="5"
            maxlength="20"
            type="password"
            name="password"
          />
          <input class="enter-username" type="submit" />
        </form>
      </div>
    </div>

    <%} else if (locals.isGenerated === true){%>
    <div class="anime-add-remove">
      <div class="add-bttn bttn">
        <i class="fa-solid fa-check fa-2xl icon" style="color: #63e6be"></i>
      </div>
      <div class="do-not-add-bttn bttn">
        <i class="fa-solid fa-xmark fa-2xl icon" style="color: #f53232"></i>
      </div>

      <!--FORM-->
      <form class="add-form" action="/add-anime" method="POST">
        <input type="hidden" value="<%= animeId %>" name="animeId" />
      </form>
      <form class="do-not-add-form" action="/add-anime" method="POST">
        <input type="hidden" value="false" name="animeId" />
      </form>
      <!--FORM-->
    </div>

    <% } else if (locals.isGenerated !== true && locals.userId !== false){%>
    <div class="vid-container">
      <video autoplay controls class="video" src="Tutorial.mp4"></video>
    </div>
    <div class="input-box">
      <form class="anime-form" action="/my-anime-list" method="POST">
        <input
          class="id-input"
          min="1"
          max="58000"
          required
          type="number"
          placeholder="Enter Anime ID"
          name="animeInput"
        />
        <input class="id-submit" type="submit" />
      </form>
    </div>
    <%}%> <% if(locals.favAnimes){%>

    <div class="anime-row2">
      <div class="anime-row3">
        <h1>✨</h1>
        <div class="anime-col2">
          <h1><span class="current-user"><%= user %></span><br />LIST</h1>
        </div>
        <h1>✨</h1>
      </div>
    </div>
    <% favAnimes.forEach((anime) => {%>
    <div class="anime-row">
      <div class="anime-col">
        <h1 class="anime-ttl"><%= anime.title %></h1>
        <div class="anime-img-box">
          <img class="anime-image2" src="<%= anime.image %>" alt="" />
          <form class="delete" action="/delete" method="POST">
            <input type="hidden" name="animeId" value="<%= anime.animeID %>" />
            <i
              class="fa-solid fa-xmark fa-2xl icon2"
              style="color: #f53232"
            ></i>
            <input type="submit" class="hidden-input" />
          </form>
          <a class="more-info" target="_blank" href="<%= anime.link %>">
            More Info</a
          >
        </div>
      </div>
    </div>

    <%})} %> <%if ( locals.userId !== false){%>
    <section class="side-section">
      <h2>Popular Anime IDs</h2>
      <br />
      <hr />
      <h4 class="anime-ids">
        <span class="anime-id-list">52588</span><br />Kaiju No.8
        <hr />
      </h4>
      <h4>
        <span class="anime-id-list">54900</span><br />Wind Breaker
        <hr />
      </h4>
      <h4>
        <span class="anime-id-list">53516</span><br />7th Prince
        <hr />
      </h4>
      <h4>
        <span class="anime-id-list">56690</span><br />RE:Monster
        <hr />
      </h4>
      <h4>
        <span class="anime-id-list">21</span><br />One Piece
        <hr />
      </h4>
      <h4>
        <span class="anime-id-list">12031</span><br />Kingdom
        <hr />
      </h4>

      <h4>
        <span class="anime-id-list">33</span>
        <br />
        Berserk
      </h4>
      <hr />
      <h4>
        <span class="anime-id-list">1535</span>
        <br />
        Death Note
        <hr />
      </h4>
      <h4>
        <span class="anime-id-list">40748</span>
        <br />
        JuJuTsu Kaisen
        <hr />
      </h4>
      <h4>
        <span class="anime-id-list">44511</span>
        <br />
        ChainSaw Man
        <hr />
      </h4>
      <h4>
        <span class="anime-id-list">32182</span>
        <br />
        Mob Psycho 100
        <hr />
      </h4>
      <h4>
        <span class="anime-id-list">30276</span>
        <br />
        One Punch
        <hr />
      </h4>
      <h4>
        <span class="anime-id-list">36649</span>
        <br />
        Banana Fish
        <hr />
      </h4>
      <h4>
        <span class="anime-id-list">38000</span>
        <br />
        Demon Slayer
        <hr />
      </h4>
      <h4>
        <span class="anime-id-list">37520</span>
        <br />
        Dororo
        <hr />
      </h4>
      <h4>
        <span class="anime-id-list">34572</span>
        <br />
        Black Clover
        <hr />
      </h4>
    </section>

    <%}%>

    <script>
      $(document).ready(() => {
        $(".add-bttn").click(() => {
          $(".add-form").submit();
        });
        $(".do-not-add-bttn").click(() => {
          $(".do-not-add-form").submit();
        });
      });
    </script>
  </body>
</html>
