<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <script
      src="https://kit.fontawesome.com/2a62b8eba4.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <% if (locals.error) {%>
    <p style="text-align: center"><%= error %></p>
    <% } %>
    <!---->
    <%- include('partials/header.ejs') %>
    <div class="anime-list-gen">
      <% if (locals.title){%>
      <div class="anime-container">
        <% if (locals.trailer !== null) {%>
        <iframe
          class="embed-anime-video"
          src="<%= trailer %>"
          frameborder="0"
          autoplay
        ></iframe>
        <% }else if (locals.picture){ %>
        <img class="anime-image" src="<%=picture.large_image_url%>" alt="" />
        <% }}%>
      </div>
    </div>

    <% if (locals.userId === false) {%>

    <div class="username-container">
      <div class="type-username-container">
        <form class="username-form" action="/username" method="POST">
          <input
            class="type-username"
            placeholder="Enter Your Username"
            required
            minlength="5"
            maxlength="20"
            type="text"
            name="username"
          />
          <input
            class="type-username"
            placeholder="Enter Your password"
            required
            minlength="5"
            maxlength="20"
            type="password"
            name="password"
          />
          <input class="enter-username" type="submit" />
        </form>
      </div>
    </div>

    <%} else if (locals.isGenerated === true){%>
    <div class="anime-add-remove">
      <div class="add-bttn bttn">
        <i class="fa-solid fa-check fa-2xl icon" style="color: #63e6be"></i>
      </div>
      <div class="do-not-add-bttn bttn">
        <i class="fa-solid fa-xmark fa-2xl icon" style="color: #f53232"></i>
      </div>

      <!--FORM-->
      <form class="add-form" action="/add-anime" method="POST">
        <input type="hidden" value="<%= animeId %>" name="animeId" />
      </form>
      <form class="do-not-add-form" action="/add-anime" method="POST">
        <input type="hidden" value="false" name="animeId" />
      </form>
      <!--FORM-->
    </div>

    <% } else if (locals.isGenerated !== true && locals.userId !== false){%>
    <div class="vid-container">
      <video autoplay controls class="video" src="Tutorial.mp4"></video>
    </div>
    <div class="input-box">
      <form class="anime-form" action="/my-anime-list" method="POST">
        <input
          class="id-input"
          min="1"
          max="58000"
          required
          type="number"
          placeholder="Enter Anime ID"
          name="animeInput"
        />
        <input class="id-submit" type="submit" />
      </form>
    </div>
    <%}%> <% if(locals.favAnimes){%>

    <div class="anime-row2">
      <h1>✨</h1>
      <div class="anime-col2">
        <h1><span class="current-user"><%= user %></span><br />LIST</h1>
      </div>
      <h1>✨</h1>
    </div>
    <% favAnimes.forEach((anime) => {%>
    <div class="anime-row">
      <div class="anime-col">
        <h1 class="anime-ttl"><%= anime.title %></h1>
        <img class="anime-image2" src="<%= anime.image %>" alt="" />
        <a class="more-info" target="_blank" href="<%= anime.link %>">
          More Info</a
        >
      </div>
    </div>

    <%})} %>

    <script>
      $(document).ready(() => {
        $(".add-bttn").click(() => {
          $(".add-form").submit();
        });
        $(".do-not-add-bttn").click(() => {
          $(".do-not-add-form").submit();
        });
      });
    </script>
  </body>
</html>
